:root {
    --primary-color: #3ca7ee;
    --error-color: #e74c3c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(120deg, #3ca7ee, #9b408f);
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    width: 400px;
    background-color: #fff;
    border-radius: 5px;
}

    .login-form h1 {
        padding-top: 20px;
        text-align: center;
    }

    .login-form .container {
        padding: 0 40px;
    }

.form-control {
    position: relative;
    margin: 40px 0;
}

    .form-control input {
        width: 100%;
        height: 40px;
        font-size: 16px;
        border: none;
        background: none;
        outline: none;
        border-bottom: 2px solid #adadad;
    }

    .form-control span {
        position: absolute;
        border-bottom: 3px solid var(--primary-color);
        width: 0;
        top: 38px;
        left: 0;
        transition: all 0.3s;
    }

    .form-control input:focus ~ span {
        width: 100%;
    }

    .form-control.error input {
        border-bottom-color: var(--error-color);
    }

    .form-control.error small {
        color: var(--error-color);
    }

.btn-submit {
    margin-top: 20px;
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    transition: 0.5s;
}

    .btn-submit:hover {
        background-color: #08609a;
    }

.signup {
    margin: 25px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
}

    .signup a {
        text-decoration: none;
        color: var(--primary-color);
    }

        .signup a:hover {
            text-decoration: underline;
        }
