@{
	ViewData["Title"] = "Tạo nhân viên";

	List<Chucvu> listchucvu = ViewBag.Chucvu;
	bool TaikhoanExisted = ViewBag.TaikhoanExisted;
}

@model JobRecommendationWeb.CustomViewModel.TaikhoanNhanvienViewModel

@section Styles {
        <link rel="stylesheet" href="@Url.Content("/css/FormStyle.css")"/>
}

<div class="container">
    <div class="input_container">
        <form asp-action="Create" asp-controller="Staff" action="valid.html">
            <div class="row-register">
                <div class="col-register2">
                    <h1>Thông tin nhân viên</h1>
                    <hr>
                    <br>
                    <div class="input-row row-register2">
                        <div class="col-register3">
                            <label for="account">Tên đăng nhập</label>
                        </div>
                        <div class="col-register4">
                            <input type="text" id="account" required autofocus>
                        </div>
                    </div>
                    <br>
                    <div class="input-row row-register2">
                        <div class="col-register3">
                            <label for="password">Mật khẩu</label>
                        </div>
                        <div class="col-register4">
                            <input type="password" required>
                        </div>
                    </div>
                    <br>
                    <div class="input-row row-register2">
                        <div class="col-register3">
                            <label for="password_confirmation">Xác nhận mật khẩu</label>
                        </div>
                        <div class="col-register4">
                            <input type="password" required>
                        </div>
                    </div>
                    <br>
                    <div class="input-row row-register2">
                        <div class="col-register3">
                            <label for="name">Họ Tên</label>
                        </div>
                        <div class="col-register4">
                            <input type="text" required>
                        </div>
                    </div>
                    <br>
                    <div class="input-row row-register2">
                        <div class="col-register3">
                            <label for="age">Tuổi</label>
                        </div>
                        <div class="col-register4">
                            <input type="text" name="age" id="age" min="15" max="60" required>
                        </div>
                    </div>
                    <br>
                    <div class="input-row row-register2">
                        <div class="col-register3">
                            <label for="phone">Số điện thoại</label>
                        </div>
                        <div class="col-register4">
                            <input type="text" name="phone" id="phone" required>
                        </div>
                    </div>
                    <br>
                    <div class="input-row row-register2">
                        <div class="col-register3">
                            <label for="email">Email</label>
                        </div>
                        <div class="col-register4">
                            <input type="email" name="email" id="email" required>
                        </div>
                    </div>
                    <br>
                    <div class="input-row row-register2">
                        <div class="col-register3">
                            <label for="position">Chức vụ</label>
                        </div>
                        <div class="col-register4">
                            <select name="position" id="position" required>
                                <option value=""></option>
                                <option value="nhanvien">Nhân viên</option>
                                <option value="admin">Admin</option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <br>
                </div>
            </div>
            <div class="text-center">
                <!-- <input type="submit" value="Đăng ký"> -->
                <button>ĐĂNG KÝ</button>
                <input onclick="resetForm()" type="button" value="LÀM MỚI">
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <script>
        $(function () {
            $(".chosen-default").chosen();
        });
    </script>
	@{
	<partial name="_ValidationScriptsPartial" />		
	}
	<script src=~/js/CandidateValid.js></script>
}
