
@{
    ViewData["Title"] = "Quản lý nhân viên";
}

<div class="container mb-5">
    <div class="row">
        <div class="col-6">
            <h3 class="text-dark">Danh sách nhân viên</h3>
        </div>
        <div class="col-6 text-end">
            <a class="btn btn-primary" asp-action="Create" asp-controller="Post">Tạo nhân viên</a>
        </div>
    </div>

    <div class="search text-end">
        <form class="row my-2 my-lg-0">
            <div class="col-lg-10">
                <input class="form-control mr-sm-2 col-lg-8" type="text" placeholder="Search">
            </div>
			<div class="col-2">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </div>
			
        </form>
    </div>
</div>

<div class="container">
    <table class="dsnv">
        <thead>
            <tr>
                <th>Mã NV</th>
                <th>Họ Tên</th>
				<th>SĐT</th>
                <th>Email</th>
				<th>Địa chỉ</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>A</td>
				<td>1</td>
                <td>A</td>
                <td>A</td>
            </tr>
            <tr>
                <td>2</td>
                <td>A</td>
				<td>1</td>
                <td>A</td>
                <td>A</td>
            </tr>
            <tr>
                <td>3</td>
                <td>A</td>
				<td>1</td>
                <td>A</td>
                <td>A</td>
            </tr>
			<tr>
                <td>4</td>
                <td>A</td>
				<td>1</td>
                <td>A</td>
                <td>A</td>
            </tr>
			<tr>
                <td>5</td>
                <td>A</td>
				<td>1</td>
                <td>A</td>
                <td>A</td>
            </tr>
			<tr>
                <td>6</td>
                <td>A</td>
				<td>1</td>
                <td>A</td>
                <td>A</td>
            </tr>
			<tr>
                <td>7</td>
                <td>A</td>
				<td>1</td>
                <td>A</td>
                <td>A</td>
            </tr>
			<tr>
                <td>8</td>
                <td>A</td>
				<td>1</td>
                <td>A</td>
                <td>A</td>
            </tr>
			<tr>
                <td>9</td>
                <td>A</td>
				<td>1</td>
                <td>A</td>
                <td>A</td>
            </tr>
			<tr>
                <td>10</td>
                <td>A</td>
				<td>1</td>
                <td>A</td>
                <td>A</td>
            </tr>
			<tr>
                <td>11</td>
                <td>A</td>
				<td>1</td>
                <td>A</td>
                <td>A</td>
            </tr>
        </tbody>
    </table>
</div>
