@{
    ViewData["Title"] = "Chi tiết bài tuyển dụng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mb-5">
    <div class="row">
        <div class="col-8">

        </div>
        <div class="col-4 text-end">
            <a class="btn btn-primary">Xem các ứng viên đã nộp</a>
        </div>
    </div>
</div>

<div class="container border">
    <div class="row">
        <div class="col-8">
            <div class="row h-100">
                <div class="col-4">
                    <img alt="ảnh ở đây" />
                </div>

                <div class="col-8 d-flex align-items-center">
                    <h2>Tên công việc</h2>
                </div>
            </div>
        </div>

        <div class="col-4">
            <button class="btn btn-info w-100 mb-3">Chỉnh sửa</button>
            <button class="btn btn-success w-100">Nộp CV</button>
            <button class="btn btn-dark w-100 mt-3">Xoá</button>
        </div>
    </div>
    <div class="py-5"></div>
    <div class="row">
        <div class="col-8">
            <div class="row">
                <h4 class="text-danger">Lương.....</h4>
            </div>
            <div class="row">
                <label class="fw-bolder">Mô tả</label>
                <p class="lh-base">dsadaddadadas</p>
            </div>
        </div>
        <div class="col-4">
            <label class="fw-bold mb-4">Website</label>

            <div class="mb-4">
                <label class="fw-bold mb-4">Địa điểm</label>
                <p class="">
                    abc
                </p>
            </div>

            <label class="fw-bold mb-4">Quóc tịch</label>

            <div class="mb-4">
                <label class="fw-bold mb-4">Địa điểm</label>
                <p class="">
                    abc
                </p>
            </div>
        </div>
    </div>
</div>