@{
    ViewData["title"] = "Bài tuyển dụng";
}

<div class="container mb-5">
    <div class="row">
        <div class="col-6">
            <h3 class="text-dark">Danh sách bài tuyển dụng</h3>
        </div>
        <div class="col-6 text-end">
            <a class="btn btn-primary" href="#">Tạo bài tuyển dụng</a>
        </div>
    </div>

</div>

<div class="container d-flex justify-content-center align-items-center">
    <!-- chỗ này binding ra danh các việc làm nè-->
    <div class="row g-2">
        <div class="col-4">
            <div class="card position-relative ">
                <a href="#" class=" position-absolute top-0 left-0 w-100 h-100"></a>
                <div class="card-header d-flex justify-content-center align-items-center">
                    <img alt="ảnh công ty" />
                </div>
                <div class="card-body">
                    <h5 class="card-title fw-bolder">Tên công việc</h5>
                    <div class="small-text mb-2">
                        <p class="card-text m-0 small">Lương:........ Binding</p>

                        <p class="card-text m-0 small"> Địa điểm...... binding</p>
                    </div>
                    <p class="card-text">Mô tả</p>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card position-relative ">
                <a href="#" class=" position-absolute top-0 left-0 w-100 h-100"></a>
                <div class="card-header d-flex justify-content-center align-items-center">
                    <img alt="ảnh công ty" />
                </div>
                <div class="card-body">
                    <h5 class="card-title fw-bolder">Tên công việc</h5>
                    <div class="small-text mb-2">
                        <p class="card-text m-0 small">Lương:........ Binding</p>

                        <p class="card-text m-0 small"> Địa điểm...... binding</p>
                    </div>
                    <p class="card-text">Mô tả</p>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card position-relative">
                <a href="#" class=" position-absolute top-0 left-0 w-100 h-100"></a>
                <div class="card-header d-flex justify-content-center align-items-center">
                    <img alt="ảnh công ty" />
                </div>
                <div class="card-body">
                    <h5 class="card-title fw-bolder">Tên công việc</h5>
                    <div class="small-text mb-2">
                        <p class="card-text m-0 small">Lương:........ Binding</p>

                        <p class="card-text m-0 small"> Địa điểm...... binding</p>
                    </div>
                    <p class="card-text">Mô tả</p>
                </div>
            </div>
        </div>
    </div>
</div>