@model Kinang

<div class="modal fade" id="editSkill">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Tạo kĩ năng</h4>
                <button type="button" class="btn-close" data-dismiss="modal"></button>
            </div>
            <form action="Edit" autocomplete="off">
                <input type="hidden" asp-for="@Model.MaKiNang" />
                <div class="modal-body">
                    <label class="form-label">Tên kĩ năng</label>
                    <input type="text" class="form-control" asp-for=TenKiNang>
                    <span asp-validation-for="TenKiNang"></span>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Huỷ bỏ</button>
                <button type="button" class="btn btn-primary w-auto" data-save="modal">Lưu</button>
            </div>
        </div>
    </div>
</div>
