@model Kinang

<div class="modal fade" id="createModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Tạo kĩ năng</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <form asp-action="Create" method="post" autocomplete="off">
                <div class="modal-body">
                    <label class="form-label">Tên kĩ năng</label>
                    <input type="text" class="form-control" asp-for=TenKiNang>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Huỷ bỏ</button>
                    <button type="submit" class="btn btn-primary w-auto" data-bs-dismiss="modal">Lưu</button>
                </div>
            </form>
        </div>
    </div>
</div>
