@model Ungvien

@{
	ViewData["Title"] = "Tạo hồ sơ ứng viên";
	Ungvien candidate = new Ungvien();
}

@section Styles {
	<link rel="stylesheet" href="@Url.Content("/css/FormStyle.css")" />
}

	<div class="container">
	<form asp-action="Create" asp-controller="Candidate" method="POST" enctype="multipart/form-data">
		<div class="row-register">
			<!-- <div class="col-register1">
				<img src="images/logo.jpg" alt="ảnh" width="200px">
			</div> -->
			<div class="col-register2">
				<h1>Thông tin ứng viên</h1>
				<hr>
				<br>
				<div class="row-register2">
					<div class="col-register3">
						<label for="candidate_name">Họ Tên</label>
					</div>
					<div class="col-register4">
							<input type="text" name="Ten" id="Ten" required autofocus>
						</div>
				</div>
				<br>
				<div class="row-register2">
					<div class="col-register3">
						<label for="candidate_age">Tuổi</label>
					</div>
					<div class="col-register4">
							<input type="number" name="Tuoi" id="Tuoi" required autofocus>
						</div>
				</div>
				<br>
				<div class="row-register2">
					<div class="col-register3">
						<label for="candidate_phone">SĐT</label>
					</div>
					<div class="col-register4">
							<input type="number" name="Sdt" id="Sdt" required autofocus>
						</div>
				</div>
				<br>
				<div class="row-register2">
					<div class="col-register3">
						<label for="email">Email</label>
					</div>
					<div class="col-register4">
							<input type="email" name="Email" id="Email" required autofocus>
						</div>
				</div>
				<br>
				<div class="row-register2">
					<div class="col-register3">
						<label for="candidate_experience">Thâm niên</label>
					</div>
					<div class="col-register4">
							<input type="number" name="ThamNien" id="ThamNien" required autofocus>
						</div>
				</div>
				<br>
				<!--
					<br>
				<div class="row-register2">
					<div class="col-register3">
						<label for="school">Trường</label>
					</div>
					<div class="col-register4">
						<input type="text" name="school" id="school" required>
					</div>
				</div>
				<br>
				<div class="row-register2">
					<div class="col-register3">
						<label for="CV">CV</label>
					</div>
					<div class="col-register4">
						<input type="file" name="CV" id="CV" accept="image/*" required>
					</div>
				</div>
				<br>
				-->
				<div class="row-register2">
					<div class="col-register3">
						<label for="location">Địa chỉ</label>
					</div>
					<div class="col-register4">
							<input type="text" name="DiaChi" id="DiaChi" required autofocus>
							<br>
						<span>Ví dụ: 332, Cộng Hòa, 14, Tân Bình</span>
					</div>
				</div>
				<!--				<br>
				<div class="row-register2">
					<div class="col-register3">
						<label for="country">Quốc tịch</label>
					</div>
					<div class="col-register4">
						<select name="country" id="country" required>
							<option value=""></option>
							<option value="vn">Việt Nam</option>
							<option value="lao">Lào</option>
							<option value="cam">Campuchia</option>
							<option value="kor">Hàn Quốc</option>
							<option value="ger">Đức</option>
							<option value="jap">Nhật Bản</option>
							<option value="tha">Thái Lan</option>
							<option value="USA">Mỹ</option>
							<option value="sin">Singapore</option>
						</select>
					</div>
				</div>
				<br>
				<div class="row-register2">
					<div class="col-register3">
						<label for="nam">Giới tính: </label>

					</div>
					<div class="col-register4">
						<label>
							<input type="radio" name="gender" value="nam" id="nam" required checked> Nam
						</label>
						<br>
						<label>
							<input type="radio" name="gender" value="nu"> Nữ
						</label>
						<br>
						<label>
							<input type="radio" name="gender" value="khac"> Khác
						</label>
					</div>

				</div>
				<br>
-->
				<div class="row-register2">
					<div class="col-register3">
						<!-- <label for="firstname">Firstname</label> -->
					</div>
					<div class="col-register4">
							<input type="submit" value="Register" />
						</div>
				</div>

			</div>
		</div>
	</form>
</div>