@model Hosocongty
@{
    ViewData["Title"] = "Tạo hồ sơ công ty";

}
@section Styles {
<link rel="stylesheet" href="@Url.Content("/css/Form.css")" />
}
<div class="formView">
    <div class="input_container">
            <form name="formCreate" id="formCreate" asp-action="Create" asp-controller="Company" autocomplete="off" enctype="multipart/form-data">
            <div class="row-register">
                <div class="col-register2">
                    <h1>Thông tin nhà tuyển dụng</h1>
                    <hr>
                    <br>
                    <div class="input-row row-register2">
                        <div class="col-register3">
                            <label for="name">Tên công ty</label>
                        </div>
                        <div class="col-register4">
                            <input type="text" name="TenCongTy" id="name" autofocus>
                        </div>
                    </div>
                    <br>

                    <div class="input-row row-register2">
                        <div class="col-register3">
                            <label for="email">Website</label>
                        </div>
                        <div class="col-register4">
                            <input type="text" name="Website" id="email">
                        </div>
                    </div>
                    <br>

                    <div class="input-row row-register2">
                        <div class="col-register3">
                            <label for="location">Địa chỉ</label>
                        </div>
                        <div class="col-register4">
                            <input type="text" name="DiaChi" id="location">
                            <br>
                            <span>Ví dụ: 332, Cộng Hòa, 14, Tân Bình</span>
                        </div>
                    </div>
                    <br>
                    <div class="input-row row-register2">
                        <div class="col-register3">
                            <label for="country">Quốc gia</label>
                        </div>
                        <div class="col-register4">
                            <select name="country" id="country">
                                    <option selected value="Việt Nam">Việt Nam</option>
                                    <option value="Lào">Lào</option>
                                    <option value="Campuchia">Campuchia</option>
                                    <option value="Hàn Quốc">Hàn Quốc</option>
                                    <option value="Đức">Đức</option>
                                    <option value="Nhật Bản">Nhật Bản</option>
                                    <option value="Thái Lan">Thái Lan</option>
                                    <option value="Mỹ">Mỹ</option>
                                    <option value="Singapore">Singapore</option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="input-row row-register2">
                        <div class="col-register3">
                            <label for="compensation">Chế độ đãi ngộ</label>
                        </div>
                        <div class="col-register4">
                            <textarea id="compensation" name="CheDoDaiNgo" rows="4" cols="50"></textarea>
                            <!-- <input type="text-area" name="compensation" id="compensation" required> -->
                        </div>
                    </div>
                    <br>
                    <div class="input-row row-register2">
                        <div class="col-register3">
                            <label>Mô tả công ty</label>
                        </div>
                        <div class="col-register4">
                            <textarea name="MoTaThem" rows="4" cols="50"></textarea>
                            <!-- <input type="text-area" name="describe" id="describe" required> -->
                        </div>
                    </div>
                    <br>
                    <div class="input-row row-register2">
                        <div class="col-register3">
                            <label for="GPKD">Ảnh công ty</label>
                        </div>
                        <div class="col-register4">
                            <input type="file" name="AnhCongTy" accept="image/*">
                        </div>
                    </div>
                    <br>
                </div>
            </div>
            <div class="text-center">
                <a class="btn btn-info p-2 me-3" asp-action="Index" asp-controller="Company" type="submit">Trở về</a>
                <button>ĐĂNG KÝ</button>
            </div>
        </form>
    </div>
</div>
@section Scripts {
	@{
        <partial name="_ValidationScriptsPartial" />
	}
    <script src="~/js/CompanyValidate.js"></script>
}
