@{
    ViewData["Title"] = "Chi tiết nhà tuyển dụng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container border">
    <div class="row">
        <div class="col-8">
            <div class="row h-100">
                <div class="col-4">
                    <img alt="ảnh ở đây" />
                </div>

                <div class="col-8 d-flex align-items-center">
                    <h2>Tên công ty</h2>
                </div>
            </div>
        </div>

        <div class="col-4">
            <button class="btn btn-info w-100 mb-5">Chỉnh sửa</button>

            <button class="btn btn-dark w-100 mt-5">Xoá</button>
        </div>
    </div>
    <div class="py-5"></div>
    <div class="row">
        <div class="col-8">
            <div class="row">
                <label class="fw-bolder">Mô tả</label>
                <p class="lh-base">dsadaddadadas</p>
            </div>
        </div>
        <div class="col-4">
            <label class="fw-bold mb-4">Website</label>

            <div class="mb-4">
                <label class="fw-bold mb-4">Địa điểm</label>
                <p class="">
                    abc
                </p>
            </div>

            <label class="fw-bold mb-4">Quóc tịch</label>

            <div class="mb-4">
                <label class="fw-bold mb-4">Địa điểm</label>
                <p class="">
                    abc
                </p>
            </div>
        </div>
    </div>
</div>
