<section id="about">
	<div class="about container-fluid text-center">
		<h2>About Us</h2>
		<p>You never walk alone.</p>
		<div class="row">
			<div class="col-lg-4">
				<div class="card">
					<div class="box">
						<img src="images/person1.jpg" alt="Person 1">
						<div class="overlay">
							<a href="https://www.facebook.com/" target="_blank">
								<i class="fa-brands fa-facebook-f"></i>
							</a>
							<a href="https://twitter.com/" target="_blank">
								<i class="fa-brands fa-twitter"></i>
							</a>
							<a href="https://www.google.com/" target="_blank">
								<i class="fa-brands fa-google-plus-g"></i>
							</a>
							<a href="https://dribbble.com/" target="_blank">
								<i class="fa-brands fa-dribbble"></i>
							</a>
						</div>
					</div>

					<div class="box-info">
						<h3>Melannie Doe</h3>
						<em>Director</em>
						<p>
							"Always putting people first and respecting employees is the key to the success of managers."
						</p>
					</div>
				</div>

			</div>

			<div class="col-lg-4">
				<div class="card">
					<div class="box">
						<img src="images/person2.jpg" alt="Person 2">
						<div class="overlay">
							<a href="https://www.facebook.com/" target="_blank">
								<i class="fa-brands fa-facebook-f"></i>
							</a>
							<a href="https://twitter.com/" target="_blank">
								<i class="fa-brands fa-twitter"></i>
							</a>
							<a href="https://www.google.com/" target="_blank">
								<i class="fa-brands fa-google-plus-g"></i>
							</a>
							<a href="https://dribbble.com/" target="_blank">
								<i class="fa-brands fa-dribbble"></i>
							</a>
						</div>
					</div>
					<div class="box-info">
						<h3>Jhonnie Doe</h3>
						<em>Founder</em>
						<p>
							"A company that wants to grow quickly must be good at finding talent, especially smart talent."
						</p>
					</div>
				</div>

			</div>

			<div class="col-lg-4">
				<div class="card">
					<div class="box">
						<img src="images/person3.jpg" alt="Person 3">
						<div class="overlay">
							<a href="https://www.facebook.com/" target="_blank">
								<i class="fa-brands fa-facebook-f"></i>
							</a>
							<a href="https://twitter.com/" target="_blank">
								<i class="fa-brands fa-twitter"></i>
							</a>
							<a href="https://www.google.com/" target="_blank">
								<i class="fa-brands fa-google-plus-g"></i>
							</a>
							<a href="https://dribbble.com/" target="_blank">
								<i class="fa-brands fa-dribbble"></i>
							</a>
						</div>
					</div>
					<div class="box-info">
						<h3>Daniel Doe</h3>
						<em>CEO</em>
						<p>
							"Hesitation, indecisiveness can avoid some mistakes but also lose many other opportunities."
						</p>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>