<section id="contact">
	<div class="contact container-fluid">
		<h2 class="text-center">
			Contact Us
		</h2>
		<p class="text-center">
			Together we grow.
		</p>
		<div class="row">
			<!-- left col -->
			<div class="col-lg-6">
				<form action="sendEmail.php" method="POST">
					<div class="row">
						<div class="col-lg-6">
							<input type="text" name="username" placeholder="Your name" required class="form-control">
						</div>
						<div class="col-lg-6">
							<input type="email" name="email" placeholder="Your email" required class="form-control">
						</div>
						<div class="col-lg-12">
							<textarea name="message" cols="30" rows="10" class="form-control" placeholder="Your message" required></textarea>
						</div>
						<div class="col-lg-12 button-submit">
							<button type="submit">SUBMIT</button>
						</div>
					</div>
				</form>
			</div>
			<!-- right col -->
			<div class="col-lg-6">
				<h3>INFORMATION</h3>
				<address>
					<i class="fa-solid fa-location-dot"></i>
					<a href="https://goo.gl/maps/hzo6D9vrDgRTGhSu8" target="_blank">
						<span style="color: #444;">
							JOB Company<br>
							Khu pho 6, P.Linh Trung, <br>
							Q.Thu Duc, TP.Ho Chi Minh.
						</span>
					</a>
					<!-- <span>
						JOB Company<br>
						Khu pho 6, P.Linh Trung, <br>
						Q.Thu Duc, TP.Ho Chi Minh.
					</span> -->

				</address>
				<p>
					<i class="fa-solid fa-square-phone"></i>
					+84 (Phone) 938888813
				</p>
				<p>
					<i class="fa-solid fa-print"></i>
					+123 (FAX) 0011223
				</p>
				<p>
					<i class="fa-solid fa-envelope"></i>
					cskh@job-company.com
				</p>
			</div>
		</div>
	</div>
</section>
