<section id="home">
	<div class="home text-center container-fluid">
		<div class="background"></div>
		<h1><span>JOB</span> always for you </h1>
		<p>
			JOB là công ty công nghệ nhân sự (HR Tech) hàng đầu tại Việt Nam. 
			Với năng lực cốt lõi là công nghệ, sứ mệnh của JOB là thay đổi thị trường tuyển dụng - nhân sự ngày càng hiệu quả hơn. 
			Sử dụng công nghệ, chúng tôi tạo ra một nền tảng cho phép người lao động và người sử dụng lao động kết nối với nhau và tiếp cận các cơ hội việc làm phù hợp.
		</p>

		<br>
		<a href="#portfolio">
			<img src="images/arrow_bottom.png" alt="Jump to portfolio">
		</a>
	</div>
</section>