<section id="home">
	<div class="home text-center container-fluid">
		<h1><span>JOB</span> always for you </h1>
		<p>
			Giới thiệu gì đó ở đây
		</p>

		<br>
		<a href="#portfolio">
			<img src="images/arrow_bottom.png" alt="Jump to portfolio">
		</a>
	</div>
</section>