@{
    ViewData["Title"] = "Trang chủ";
}

<partial name="_Introduction" />


<div id="portfolio" class="d-flex justify-content-center align-items-center">
    <!-- chỗ này binding ra danh các việc làm nè-->
    <div class="row g-2">
        
    </div>
</div>
<!-- About -->
<partial name="_About" />

<!-- Contact -->
<partial name="_Contact" />

