@{
    ViewData["Title"] = "Trang chủ";
}
<partial name="_Notification" />

<partial name="_Introduction" />
<div id="portfolio" class="d-flex justify-content-center align-items-center">
    
</div>
<div class="cardBox">
    <div class="card2">
        <div>
            <div class="numbers">1,042</div>
            <div class="cardName">Daily Views</div>
        </div>
        <div class="iconBox">
            <i class="fa-solid fa-eye"></i>
        </div>
    </div>
    <div class="card2">
        <div>
            <div class="numbers">82</div>
            <div class="cardName">Sales</div>
        </div>
        <div class="iconBox">
            <i class="fa-solid fa-cart-shopping"></i>
        </div>
    </div>
    <div class="card2">
        <div>
            <div class="numbers">208</div>
            <div class="cardName">Comments</div>
        </div>
        <div class="iconBox">
            <i class="fa-solid fa-comment"></i>
        </div>
    </div>
    <div class="card2">
        <div>
            <div class="numbers">$6,042</div>
            <div class="cardName">Earning</div>
        </div>
        <div class="iconBox">
            <i class="fa-solid fa-dollar-sign"></i>
        </div>
    </div>
</div>
<!-- About -->
<partial name="_About" />

<!-- Contact -->
<partial name="_Contact" />

