@{
    ViewData["Title"] = "Trang chủ";
    Nhanvien nhanvien = null;
    if (ViewBag.NhanVien != null) {
        nhanvien = ViewBag.NhanVien;
    }
}

@if (nhanvien != null) 
{
    <span class="fw-bold">Chào mừng: @nhanvien.TenNhanVien</span>
}

<partial name="_Introduction" />


<div id="portfolio" class="d-flex justify-content-center align-items-center">
    <!-- chỗ này binding ra danh các việc làm nè-->
    <div class="row g-2">
        
    </div>
</div>
<!-- About -->
<partial name="_About" />

<!-- Contact -->
<partial name="_Contact" />

