@model JobRecommendationWeb.Models.Kinang

@{
    ViewData["Title"] = "KinangDetails";
}

<h1>KinangDetails</h1>

<div>
    <h4>Kinang</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenKiNang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenKiNang)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaKiNang">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
