@model JobRecommendationWeb.Models.Kinang

@{
    ViewData["Title"] = "KinangDelete";
}

<h1>KinangDelete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Kinang</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenKiNang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenKiNang)
        </dd>
    </dl>
    
    <form asp-action="KinangDelete">
        <input type="hidden" asp-for="MaKiNang" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
