<footer>
	<div class="container-fluid">
		<span>© 2013 - 2022 JOB  |  Công ty cổ phần JOB Việt Nam</span>
	</div>
	<a href="#" class="back-to-top">
		<i class="fa-solid fa-chevron-up"></i>
	</a>
</footer>