<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
    <title>@ViewData["Title"] - JobRecommendationWeb</title>

	<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/JobRecommendationWeb.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<script src="https://kit.fontawesome.com/e7ec61a9d3.js" crossorigin="anonymous"></script>
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-md navbar-light">
			<a class="navbar-brand" href="#">
				<img class="logo" src="~/images/logo.png" alt="Logo">
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse " id="navbarSupportedContent">
				<ul class="navbar-nav">
					<li class="nav-item active">
						<a class="nav-link" href="#home">Trang chủ</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#portfolio">Danh sách công việc</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#about">Về chúng tôi</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#contact">Liên hệ</a>
					</li>

					<li class="nav-item">
						<div class="nav-link">Tạo <i class="fa-solid fa-chevron-down"></i></div>
						<ul class="subnav">
							<li class="nav-item">
								<a asp-action="Index" asp-controller="Candidate" class="nav-link">Hồ sơ ứng viên</a>
							</li>

							<li class="nav-item">
								<a class="nav-link" href="#">Hồ sơ công ty</a>
							</li>

							<li class="nav-item">
								<a class="nav-link" href="#">Bài tuyển dụng</a>
							</li>
						</ul>
					</li>

					<li class="nav-item">
						<a class="nav-link" asp-action="Login" asp-controller="Login">Đăng nhập</a>
					</li>
				</ul>
			</div>
		</nav>
	</header>

	<div role="main">
        @RenderBody()
    </div>

	<!-- Footer -->
	<partial name="_Footer" />

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
