@{
	Taikhoan taikhoan = ViewContext.ViewBag.TaiKhoan;
	Nhanvien nhanvien = ViewContext.ViewBag.NhanVien;
	Chucvu chucvu = ViewContext.ViewBag.ChucVu;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
    <title>@ViewData["Title"] - JobRecommendationWeb</title>

	<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
	<link rel="stylesheet" href="~/lib/chosen/chosen.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/JobRecommendationWeb.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	@RenderSection("Styles", required: false)
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-md navbar-light">
			<a class="navbar-brand" href="#">
				<img class="logo" src="~/images/logo.png" alt="Logo">
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse " id="navbarSupportedContent">
				<ul class="navbar-nav">
					<li class="nav-item active">
						<a class="nav-link" asp-action="Index" asp-controller="Home">Trang chủ</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#about">Về chúng tôi</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#contact">Liên hệ</a>
					</li>

					<li class="nav-item">
						<div class="nav-link">Danh sách <i class="fa-solid fa-chevron-down"></i></div>
						<ul class="subnav">
							<li class="nav-item">
								<a asp-action="Index" asp-controller="Candidate" class="nav-link">Hồ sơ ứng viên</a>
							</li>

							<li class="nav-item">
								<a class="nav-link" asp-action="Index" asp-controller="Company">Hồ sơ công ty</a>
							</li>

							<li class="nav-item">
								<a class="nav-link" asp-action="Index" asp-controller="Post">Bài tuyển dụng</a>
							</li>
							
							<li class="nav-item">
								<a class="nav-link" asp-action="Index" asp-controller="Staff">Nhân viên</a>
							</li>

							<li class="nav-item">
								<a class="nav-link" asp-action="Index" asp-controller="History">Lịch sử làm việc</a>
							</li>
						</ul>
					</li>
				</ul>
				<ul class="navbar-nav ms-auto">
					@if (nhanvien != null)
					{
						<li class=""><span class="fw-bold">Xin chào: @taikhoan.MaChucVuNavigation.TenChucVu</span></li>
					}
					<li class="nav-item">
						@if (taikhoan == null)
						{
							<a class="nav-link" asp-action="Index" asp-controller="Login">Đăng nhập</a>
						}
						else
						{
							<a class="nav-link" asp-action="Logout" asp-controller="Login">Đăng xuất</a>
						}
					</li>
				</ul>
				
			</div>
		</nav>
	</header>

	<div role="main" class="mainBody">
        @RenderBody()
    </div>
	<div style="padding: 150px"></div>
	<!-- Footer -->
	<partial name="_Footer" />

    <script src="~/lib/jquery/dist/jquery.js"></script>
	<script src="~/lib/chosen/chosen.jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
